.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
.Rprofile
.DS_Store
.dockerignore
Dockerfile
pyproject.toml
uv.lock
*.Rproj
*.tar.gz
*.Rcheck/
*.BiocCheck/
*BiocCheck/
*Rcheck/
renv/library/
renv/staging/
renv/sandbox/
renv/local/
renv/python/
.quarto/
_quarto.yml
_book/
Meta/
doc/
tmp/
site/
renv/
renv.lock

/tools/
/docs/
