.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
.Rprofile
.DS_Store
*.Rproj
*.tar.gz
*.Rcheck/
*.BiocCheck/
renv/library/
renv/staging/
renv/sandbox/
renv/local/
renv/python/
.quarto/
_book/
Meta/
doc/
tmp/
site/
data/
renv/
renv.lock

/tools/
/docs/
